.booking-container {
  background-color: white;
  margin: 16px;
}

.error {
  background-color: red;
  padding: 16px;
  border-radius: 8px;
}

.doctor-details {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.doctor-image {
  flex-shrink: 0;
  margin-right: 16px;
}

.doctor-image img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.doctor-description {
  flex-grow: 1;
}

.doctor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctor-name {
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin: 2px;
}

.doctor-education {
  font-size: 16px;
  font-weight: normal;
  color: #777;
  margin-left: 8px;
}

.heart-icon {
  color: red;
  cursor: pointer;
}

.doctor-specialty {
  font-size: 18px;
  color: #555;
  margin-top: 0px;
}

.doctor-description-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.doctor-rating {
  display: flex;
  align-items: center;
}

.star-filled {
  color: #fec710;
  margin-right: 3px;
  font-size: 25px;
}

.star-empty {
  color: gray;
  margin-right: 3px;
  font-size: 25px;
}

.day-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  overflow-x: auto;
}

.days {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #e0e0e0;
  padding: 8px 0;
  border-radius: 8px;
}

.day {
  flex: 1;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  border-left: 1px solid black;
}

.day:first-child {
  border-left: none;
}

.day.selected {
  background-color: #2bb673;
  color: white;
}

.day-text {
  font-size: 16px;
}

.day-number {
  font-size: 24px;
  font-weight: bold;
}

.time-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  overflow-x: auto;
}

.time-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #e0e0e0;
  padding: 8px 0;
  border-radius: 8px;
}

.time-button {
  flex: 1;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0 8px;
  cursor: pointer;
  text-align: center;
}

.time-button.selected {
  background-color: #2bb673;
  color: white;
}

.confirm-button-container {
  text-align: center;
  margin-bottom: 16px;
}

.confirm-button {
  background-color: #2bb673;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.review-container {
  display: flex;
  background-color: #d9d9d9;
  padding: 16px;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
}

.review-image {
  flex-shrink: 0;
}

.review-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.review-text {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.review-header {
  display: flex;
  align-items: center;
}

.review-name {
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
}

.review-stars {
  display: flex;
  align-items: center;
}

.review-description {
  font-size: 14px;
  margin-top: 8px;
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  .doctor-details {
    display: block;
    padding: 8px;
    border-radius: 4px;
  }

  .doctor-image {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .doctor-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .doctor-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .doctor-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .doctor-education {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
  }

  .heart-icon {
    align-self: flex-start;
    margin-right: 8px;
  }

  .doctor-specialty {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
  }

  .doctor-rating {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .star-filled {
    margin-right: 3px;
    font-size: 25px;
  }

  .doctor-description-text {
    font-size: 14px;
    color: #666;
  }

  .day-selection {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }

  .day {
    width: 12%;
    margin: 0 2px;
    border-left: none;
  }

  .day:not(:first-child) {
    border-left: 1px solid black;
  }

  .time-selection {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }

  .time-button {
    width: 30%;
    margin: 2px;
  }
}
