.checkout-container {
    display: flex;
    flex-direction: column;
}

.checkout-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    padding: 16px;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.section-content {
    font-size: 1.125rem;
}

.checkout-body {
    display: flex;
    flex-direction: row; /* Default to row */
    width: 100%;
    align-items: start;
    justify-content: space-between;
}

.checkout-location {
    flex: 1;
    padding: 16px;
    max-width: 60%; /* Adjust width as needed */
}

.info-box {
    padding: 16px;
    margin-bottom: 32px;
    max-width: 100%; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
}

.info-title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.location-title {
    font-size: 2rem;
    font-weight: 600;
}

.checkout-summary {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25%; /* Adjust width as needed */
}

.coupon-box {
    margin-bottom: 32px;
}

.coupon-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

.apply-button {
    width: 100%;
    padding: 12px;
    background-color: #2bb673;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #249f5e;
}

.summary-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
}

.summary-details {
    margin-bottom: 16px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
}

.summary-total {
    border-top: 2px solid #ccc;
    padding-top: 16px;
}

.total-text {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.checkout-button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.checkout-button {
    padding: 12px;
    background-color: #2bb673;
    color: white;
    border: none;
    border-radius: 8px;
    width: 112px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #249f5e;
}

.error-message {
    background-color: #f8d7da;
    padding: 16px;
    border-radius: 8px;
    color: #721c24;
}

/* Responsive styles */
@media (max-width: 768px) {
    .checkout-body {
        flex-direction: column-reverse; /* Change to column on small screens */
        align-items: center;
        width: 100%;
    }

    .checkout-location {
        flex: 1;
        padding: 16px;
        max-width: 90vw; /* Adjust width as needed */
    }
    .checkout-summary {
        max-width: 100%; /* Full width on small screens */
        padding: 8px; /* Adjust padding */
    }

    .checkout-summary {
        margin-top: 16px; /* Add some spacing between sections */
    }
}
