.contact-us-container {
    margin: 0;
    padding: 32px 16px;
    background-color: #333333;
    color: white;
    margin-top: 10vh;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  
  @media (min-width: 425px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  
  .section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
  }
  .text-secondary {
    color: #b7b7b7;
  }
  
  .quick-links ul {
    list-style: none;
    padding-left: 0;
  }
  
  .quick-links ul li {
    margin-bottom: 8px;
  }
  
  .list-disc {
    list-style-type: disc;
    margin-left: 16px;
  }
  
  .underline {
    text-decoration: none;
  }
  
  .block {
    display: block;
  }
  
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b7b7b7;
  }
  .follow-us ul{
    margin: 16px;
    padding-left: 20px;
  }
  .follow-us ul li{
    font-size: medium;
    list-style: none;
    color: #898989;
  }
  .follow-us h5{
    margin: 0;
  }